@font-face {
    font-family: "nunito";
    src: url("../font/Nunito/Nunito-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "nunito";
    src: url("../font/Nunito/nunito-bold.ttf");
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0px;
    font-size: 16px;
    font-family: "nunito", sans-serif;
    font-weight: normal;
}

*::first-letter {
    text-transform: uppercase;
}

body {
    padding-top: 5rem;
}

.container {
    border-radius: 5px;
    max-width: 55rem;
    margin: 1rem auto;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

table {
    font-family: "nunito", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    border-bottom: 1px solid #e3e3e3;
    text-align: left;
    padding: .6rem .5rem;
}

table tr:nth-last-child(1) td {
    border: none;
}

table td span {
    border-radius: 5px;
    padding: .5em .5em;
    color: white;
    font-size: .7em;
    display: block;
    text-align: center;
}
table td.remove span{
    height: .6rem;
    width: .6rem;
    background-image: url("../icon/delete.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}


.modale.show {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modale {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}
.modale .content{
    position: absolute;
    inset: 5rem;
    margin: 0px auto;
    height: fit-content;
    background-color: white;
    padding: 1rem 1.5rem;
    width: 50rem;
    border-radius: 0.5rem;
}

.modale .head {
    margin-bottom: 1rem;
}

.modale .head .title {
    font-size: 24px;
    font-family: "nunito", sans-serif;
    font-weight: bold;
}

.modale form {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem 2.5rem;
}

.modale form .input-container {
    display: flex;
    flex-direction: column;
}

.modale form .input-container:nth-last-child(2) {
    grid-row: 3;
}

.modale form .btn-container {
    grid-row: 4;
    grid-column: 3;
}

.modale form .input-container label {
    margin-bottom: 6px;
}

.modale form .input-container input {
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    outline: none;
    box-shadow: none;
    font-size: 12px;
    padding: .4rem 1rem;
}










.btn {
    padding: .5em 1em;
    color: #64615b;
    background-color: #FDB64D;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    text-decoration: none;
    margin: 0px 0px 0px auto;
    display: block;
    max-width: fit-content;
    text-align: center;
    cursor: pointer;
}

.valide {
    background-color: #5BE881;
}

.rejected {
    background-color: #FF0000;
}

.on-validation {
    background-color: #FDB64D;
}